html *
{
    font-family: sans-serif, Helvetica, Arial;
    font-stretch: ultra-expanded;
    line-height: 140%;
}

table {
    border: none;
}

td, th {
    vertical-align: top;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
