html *
{
   font-family: Georgia, 'Times New Roman', Times, serif !important;
   line-height: 140%;
}

table {
    border: none!important;
}

td, th {
    vertical-align: top;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
